{% load mptt_tags %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Partido Pirata</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

        <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css">

        <script src="{{ STATIC_URL }}js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    </head>
    <body>
        <header class="header">
            <div class='container'>
                <div class="logo">
                    <a href="/">
                      <img alt="Piratas" id="piratas-logo" src="{{ STATIC_URL }}img/piratas_logo.png" title="Piratas News">Portal de Noticias Pirata
                    </a>
                </div>
                <div class="navbar">
                    <div class="navbar-inner">
                      <div class="container">
                        <ul class="nav">
                           {% recursetree opps_menu %}
                              <li><a href="{% url 'containers:channel' node.long_slug %}">{{ node.name }}</a>
                              </li>
                            {% endrecursetree %}
                        </ul>
                      </div>
                    </div>
                </div><!-- /.navbar -->

            </div>
        </header>

        <section class="container">

            {% block content %}{% endblock %}

        </section> <!-- /container -->

        <hr>

        <footer>
            <p>&copy; Company 2012</p>
        </footer>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.9.1.min.js"><\/script>')</script>

        <script src="{{ STATIC_URL }}js/vendor/bootstrap.min.js"></script>

        <script src="{{ STATIC_URL }}js/main.js"></script>
    </body>
</html>