{% extends "containers/base.html" %}

{% block content %}

 <div class='channel-header' > 
    <h2>{{ context.title }}</h2>
    <p>{{ context.description}}</p>
  </div>

  <div class="row-fluid">
    <div class="span8">
      <div class='posts'>
        <ul class="thumbnails">      
        {% for post in context %}
       <li class="row-fluid">
          <div class='thumbnail span6'>
           <a href="{% url 'containers:open' post.channel.long_slug post.slug %}" ><img class='post_thumb' src="{{ post.get_thumb.get_absolute_url }}"></a>
          </div>
          <div class="caption span6">
              <p class='post-hat'>
                <a href="{% url 'containers:open' post.channel.long_slug post.slug %}" alt="{{ post.short_title }}">{{ post.hat }}</a>
              </p>
              <p class='post-title'><a href="{% url 'containers:open' post.channel.long_slug post.slug %}">
              {{ post.title }}
              </a></p>   
              <p class='post-headline'><a href="{% url 'containers:open' post.channel.long_slug post.slug %}">
              {{ post.headline }}
              </a></p>  
          </div>
      </li>           
      {% endfor %}
      </ul>
      </div>
      {% include 'containers/include/paginated.html' %}
  </div>
</div>
{% endblock %}


