{% extends "base.html" %}

{% block content %}
            
    <div class="row-fluid">
        <div class="span8">
            <div class="">
                <div id="myCarousel" class="carousel slide">
                  <div class="carousel-inner">

                  {% for slide in slider %}
                    <div class="item {% if slide_active == slide %}active{% endif %}
">
                        <a href="{% url 'containers:open' slide.channel.long_slug slide.slug %}" ><img src="{{ slide.get_thumb.get_absolute_url }}"></a>
                        <div class="container">
                            <div class="carousel-caption">
                              <h4> <a href="{% url 'containers:open' slide.channel.long_slug slide.slug %}" alt="{{ slide.short_title }}">{{ slide.hat }}</a></h4>
                              <p class="lead"><a href="{% url 'containers:open' slide.channel.long_slug slide.slug %}" alt="{{ slide.short_title }}">{{ slide.headline }}</a></p>
                            </div>
                          </div>
                    </div>
                    {% endfor %}
                  </div>
                  <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
                  <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
                </div>
            </div>
            {% for container in containers %}
                <div class="row-fluid">
                {% for channel, posts in container %}
                    <div class="span6">
                        <div class='channel-header'>
                            <h2>{{ channel.name }}</h2>
                            <p>{{ channel.description}}</p>
                        </div>
                        <div class='posts'>
                            <ul class="thumbnails">
                            {% for post in posts %}
                                <li>
                                    <a href="{% url 'containers:open' post.channel.long_slug post.slug %}" ><img src="{{ post.get_thumb.get_absolute_url }}"></a>
                                    <div class="caption">
                                        <p class='post-title'>
                                          <a href="{% url 'containers:open' post.channel.long_slug post.slug %}" alt="{{ post.short_title }}">{{ post.hat }}</a>
                                        </p>
                                        <p class='post-headline'><a href="{% url 'containers:open' post.channel.long_slug post.slug %}">{{ post.headline }}</a></p>
                                    </div>
                                </li>
                            {% endfor %}
                             </ul>
                        </div>
                    </div>
                {% endfor %}
                </div>
            {% endfor %}
        </div>
        <div class="span4">
         <div class='channel-header'>
                            <h2>Colunas</h2>
        </div>
          <h4>Subheading</h4>
          <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

          <h4>Subheading</h4>
          <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

          <h4>Subheading</h4>
          <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>

          <div class='channel-header'>
                <h2>+ Acessadas</h2>
            </div>
          <h4>Subheading</h4>
          <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

          <h4>Subheading</h4>
          <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

          <h4>Subheading</h4>
          <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
        </div>
    </div> 

           

{% endblock %}

